@charset "utf-8";

/* main */
#main_slide {
    position: relative;
}

.single-item {
    height: 750px;
}

.single-item .slick-item {
    width: 100%;
}

.single-item .slick-item img {
    width: 100%;
    height: 750px;
}

.single-item .slick-prev,
.single-item .slick-next {
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    background: url('../img/down-arrow.png') no-repeat center;
    background-size: 60px 60px;
    opacity: 0.2;
    text-indent: -999px;
    overflow: hidden;
}

.single-item .slick-prev {
    left: 2%;
    transform: rotate(90deg);
}

.single-item .slick-next {
    right: 2%;
    transform: rotate(270deg);
}




/* lineProd */
.list_slider {
    position: relative;
}

/* 사이 여백 늘이고 줄이기 */
.list_slider .slick-slide {
    margin: 0 16px;
}

.list_slider .slick-list {
    margin: 0 -16px;
}

.list_slider .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.list_slider .back-con {
    position: relative;
    width: 100%;
    height: 100%;
}

.list_slider .list_item {
    height: 450px;
    background: #EFEBE9;
    border-radius: 10px;
    padding: 12px;
    position: relative;
}

.list_slider .list_item .list_img {
    position: relative;
}

.list_slider .list_item .list_img img {
    width: 100%;
    border-radius: 10px;
    min-height: 320px;
    margin-bottom: 50px;
}

.list_slider .list_item .list_desc {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 3.3px 3.7px 9.7px 0.3px #ddd;
}

.list_slider .list_item .list_desc .prodDesc a {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.list_slider .list_item .list_desc .prodDesc .desc {
    font-size: 1.4rem;
    color: #999999;
}

.list_slider .list_item .list_desc .prodDesc .prodName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.8rem;
    font-weight: 500;
}

.list_slider .list_item .list_desc .prodPrice .price {
    font-size: 2.4rem;
    font-weight: 500;
}

.list_slider .list_item .list_desc .prodPrice .price span {
    font-size: 1.4rem;
    margin: 0 4px;
}

.list_slider .list_item .list_desc .prodPrice .discount {
    margin-right: 10px;
    color: #999999;
    text-decoration: line-through;
}

.list_slider .slick-prev,
.list_slider .slick-next {
    display: none !important;
}