@charset "utf-8";

/* main */
#main_slide {
    position: relative;
}
.single-item1 {
    height: 750px;
}
.single-item1 .slick-item {
    width: 100%;
    position: relative;
}
.single-item1 .slick-item a {
    height: 750px;
}
.single-item1 .slick-item:nth-child(1) a {
    background: url('../img/main_slide/main01.jpg') no-repeat center;
    background-size: cover;
}
.single-item1 .slick-item:nth-child(2) a {
    background: url('../img/main_slide/main02.jpg') no-repeat center;
    background-size: cover;
}
.single-item1 .slick-item:nth-child(3) a {
    background: url('../img/main_slide/main03.jpg') no-repeat center;
    background-size: cover;
}
.single-item1 .slick-item .item_cell {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
.single-item1 .slick-item .item_cell > div:nth-child(1) {
    width: 60%;
}
.single-item1 .slick-item .item_cell > div:nth-child(2) {
    width: 40%;
}
.single-item1 .slick-item .item_cell .p1 {
    font-size: 3.6rem;
    margin-bottom: 12px;
}
.single-item1 .slick-item .item_cell .p2 {
    font-size: 1.8rem;
    margin-bottom: 72px;
}
.single-item1 .slick-prev,
.single-item1 .slick-next {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 40%;
    z-index: 999;
    background: url('../img/down-arrow.png') no-repeat center;
    background-size: 50px 50px;
    opacity: 0.1;
    text-indent: -999px;
    overflow: hidden;
}
.single-item1 .slick-prev {
    left: 2%;
    transform: rotate(90deg);
}
.single-item1 .slick-next {
    right: 2%;
    transform: rotate(270deg);
}


/* lineProd */
.list_slider {
    position: relative;
}
/* 사이 여백 늘이고 줄이기 */
.list_slider .slick-slide {
    margin: 0 16px;
}
.list_slider .slick-list {
    margin: 0 -16px;
}
/* 슬라이드 잘리는 부분 */
.list_slider .back-con {
    position: relative;
    width: 100%;
    height: 100%;
}
.list_slider .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.list_slider .list_item {
    height: 450px;
    background: #f5f3f3;
    border-radius: 10px;
    padding: 12px;
    position: relative;
}
.list_slider .list_item .list_img {
    position: relative;
}
.list_slider .list_item .list_img img {
    width: 100%;
    border-radius: 10px;
    min-height: 320px;
    margin-bottom: 50px;
}
.list_slider .list_item .list_desc {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 3.3px 3.7px 9.7px 0.3px #ddd;
}
.list_slider .list_item .list_desc .prodDesc a {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.list_slider .list_item .list_desc .prodDesc .desc {
    font-size: 1.4rem;
    color: #999999;
}
.list_slider .list_item .list_desc .prodDesc .prodName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.8rem;
    font-weight: 500;
}
.list_slider .list_item .list_desc .prodPrice .price {
    font-size: 2.4rem;
    font-weight: 500;
}
.list_slider .list_item .list_desc .prodPrice .price span {
    font-size: 1.4rem;
    margin: 0 4px;
}
.list_slider .list_item .list_desc .prodPrice .discount {
    margin-right: 10px;
    color: #999999;
    text-decoration: line-through;
}
.list_slider .slick-prev,
.list_slider .slick-next {
    display: none !important;
}


/* lineProd */
.review_slider {
    position: relative;
}
/* 슬라이드 잘리는 부분 */
.review_slider .back-con {
}
.review_slider .back {
    /* padding: 10px 0; */
}
/* 사이 여백 늘이고 줄이기 */
.review_slider .slick-slide {
    margin: 0 16px;
}
.review_slider .slick-list {
    margin: 0 -16px;
}
.review_slider .review_item {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ececec;
}
.review_slider .review_item hr {
    border: 1px solid #f5f5f5;
    margin: 10px 0;
}
#review_list .review_item .item_img {
    padding: 16px 16px 0 16px;
}
.review_slider .review_item .item_img a img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.review_slider .review_item .item_desc {
    padding: 24px;
}
.review_slider .review_item .item_desc .desc_tit strong {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.review_slider .review_item .item_desc .desc_tit p {
    font-size: 1.5rem;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.review_slider .review_item .desc_score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 16px 16px;
}
.review_slider .review_item .desc_score .score_img {
    width: 30%;
    margin-right: 10px;
}
.review_slider .review_item .desc_score .score_rating {
    width: calc(70% - 10px);
}
.review_slider .review_item .desc_score .score_rating a {
    font-size: 1.7rem;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.review_slider .review_item .desc_score .score_rating em {
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 6px;
}
.review_slider .review_item .desc_score .score_rating .score {
    text-indent: -9999px;
    overflow: hidden;
    display: inline-block;
    width: 60px;
    height: 20px;
    background: transparent url("../img/elements/rating.svg") no-repeat left;
    background-size: cover;
    vertical-align: middle;
    margin-top: 2px;
}
.review_slider .slick-prev,
.review_slider .slick-next {
    display: none !important;
}


/* intro_prod */
.one-time .slick-prev,
.one-time .slick-next {
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    top: 40%;
    z-index: 999;
    background: url('../img/down-arrow.png') no-repeat center;
    background-size: 50px 50px;
    opacity: 0.1;
    text-indent: -999px;
    overflow: hidden;
}

.one-time .slick-prev {
    left: -10%;
    transform: rotate(90deg);
}

.one-time .slick-next {
    right: -10%;
    transform: rotate(270deg);
}