@charset "UTF-8";
/* 상품 마크 표시 */
.mark_plus, .mark_best {
  width: 50px;
  height: 50px;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.mark_plus em, .mark_best em {
  color: #97BF42;
}

.mark_best {
  background: #97BF42;
  color: #fff;
}

.mark_plus {
  border: 1px solid #C5E1A5;
  background: #fff;
}

/* 스킵 메뉴 */
#skip {
  position: relative;
}
#skip a {
  position: absolute;
  left: 0;
  top: -40px;
  width: 140px;
  border: 1px solid #fff;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 30px;
  z-index: 1;
}
#skip a.active, #skip a.focus {
  top: 0;
}

/* header */
#header .container {
  position: relative;
  max-width: 1420px;
  margin: 0 auto;
}
#header a {
  font-size: 17px;
  font-weight: 400;
}
#header #header_top .row {
  display: flex;
  align-items: flex-end;
  padding: 24px 0;
}
#header #header_gnb .row {
  display: flex;
  align-items: center;
}
#header #header_gnb {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

#header_top .top_logo a img {
  width: 140px;
}

#header_top .top_sbar form {
  margin-left: 48px;
}

#header_top .top_sbar form fieldset {
  width: 500px;
  border: 2px solid #97BF42;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 7px 20px;
}

#header_top .top_sbar form fieldset .sbarInput {
  width: 80%;
  height: 30px;
  font-size: 1.4rem;
}

#header_top .top_sbar form fieldset .sbarBtn {
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-top: 2px;
}

#header_top .top_user {
  margin-left: auto;
}

#header_top .top_user ul li {
  display: inline-block;
  position: relative;
}

#header_top .top_user ul li a {
  padding: 0 24px;
  position: relative;
}

#header_top .top_user ul li a img {
  width: 24px;
}

#header_top .top_user ul li a strong {
  position: absolute;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  display: inline-block;
  color: #fff;
  padding: 0 5px;
}

#header_top .top_user ul li.bt_user a strong {
  background: #444;
  min-width: 15px;
  height: 18px;
  border-radius: 8.5px;
  top: 12px;
  right: 4px;
  line-height: 18px;
}

#header_top .top_user ul li.bt_cart a strong {
  min-width: 20px;
  height: 20px;
  background: #ec1a3b;
  border-radius: 50%;
  line-height: 20px;
  top: 9px;
  right: 14px;
}

#header_gnb .gnb_btn ul li.btn {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #97BF42 url("../img/menu.png") no-repeat center;
  background-size: 28px 28px;
}

#header_gnb .gnb_btn ul li.btn .lineBox {
  display: flex;
  width: 1280px;
  position: relative;
  top: 50px;
  left: 0;
  outline: 1px solid red;
  display: none;
}

#header_gnb .gnb_btn ul li.btn .lineBox ul li .tit {
  background: #EFEBE9;
  width: 175px;
  display: block;
}

#header_gnb .gnb_btn ul li.btn .lineBox ul li .tit a {
  padding: 22px 0px 22px 22px;
  transition: all 0.3s;
  position: relative;
}

#header_gnb .gnb_btn ul li.btn .lineBox ul li .tit a:before {
  content: "";
  width: 2px;
  height: 70px;
  background: #97BF42;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#header_gnb .gnb_btn ul li.btn .lineBox ul li .tit a:hover {
  background: #dedbd9;
}

#header_gnb .gnb_btn ul li.btn .lineBox ul li .tit a:hover:before {
  opacity: 1;
}

#header_gnb .gnb_menu ul li {
  display: inline-block;
  padding: 0 24px;
}

#header_gnb .gnb_rank {
  margin-left: auto;
  position: relative;
}

#header_gnb .gnb_rank a {
  font-size: 1.3rem;
}

#header_gnb .gnb_rank .rank_list {
  width: 260px;
  height: 40px;
  overflow: hidden;
  position: relative;
}

#header_gnb .gnb_rank .rank_list strong {
  position: absolute;
  right: 0;
  top: 8px;
}

#header_gnb .gnb_rank .rank_list ol li {
  padding: 12px 4px;
  outline: 1px solid red;
}

#header_gnb .gnb_rank .rank_list ol li span {
  display: inline-block;
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

#header_gnb .gnb_rank .rank_list ol li span em {
  display: inline-block;
  width: 50px;
  text-align: right;
  margin-right: 12px;
  color: #97BF42;
  font-weight: 600;
}

#header_gnb .gnb_rank .rank_list .arrow {
  width: 12px;
  height: 12px;
  background: url("../img/angle-down-free-icon-font.png") no-repeat center;
  background-size: contain;
  position: absolute;
  top: 14px;
  right: 0;
  cursor: pointer;
}

#header_gnb .gnb_rank .rank_all {
  background: #ffffff;
  position: absolute;
  top: 40px;
  left: 0;
  padding: 14px 5px;
  border-radius: 8.5px;
  box-shadow: rgb(241, 241, 241) 1px 1px 10px;
  display: none;
}

#header_gnb .gnb_rank .rank_all ul li {
  padding: 2px 0;
}

#header_gnb .gnb_rank .rank_all ul li em {
  display: inline-block;
  width: 18px;
  text-align: right;
  margin-right: 8px;
  color: #97BF42;
  font-weight: 600;
}

#header_gnb .gnb_rank .rank_all ul li span {
  display: inline-block;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

/** 컨텐츠 시작 **/
/* 공통 */
.sec .container {
  position: relative;
  max-width: 1420px;
  margin: 0 auto;
}
.sec .row:not(#main .row) {
  padding: 70px 0;
}

#tit {
  text-align: center;
}
#tit h2 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 16px;
}
#tit h3 {
  font-size: 1.8rem;
  margin-bottom: 48px;
}
#tit span {
  font-weight: 100;
}

/* main */
#main {
  position: relative;
}

#main_menu {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 190px;
  height: 700px;
  z-index: 5;
  margin-left: -545px;
  padding: 12px;
  background: #fff;
  outline: 1px solid red;
  display: none;
}

#main_menu ul {
  height: 100%;
  border: 1px solid #EFEBE9;
  border-radius: 8.5px;
}

#main_menu ul li a {
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  padding: 16px 0px 8px 8px;
  display: flex;
  align-items: center;
}

#main_menu ul li a em {
  margin-right: 16px;
}

#main_menu ul li a em img {
  width: 32px;
  height: 32px;
  opacity: 0.5;
}

#main_menu ul li a span {
  display: inline-block;
  padding-top: 3px;
}

/* lineProd */
#line_tag {
  margin-bottom: 32px;
}

#line_tag .tag_box {
  background: #EFEBE9;
  padding: 10px;
  border-radius: 10px;
}

#line_tag .tag_box ol li {
  display: inline-block;
  margin-right: 12px;
  text-align: center;
}

#line_tag .tag_box ol li a {
  font-size: 1.8rem;
  font-weight: 600;
  color: #666;
  background: rgb(251, 251, 251);
  padding: 7px 24px;
  border-radius: 10px;
}

#line_tag .tag_box ol li a:focus {
  box-shadow: 3.3px 3.7px 9.7px 0.3px #ddd;
  background: #97BF42;
  color: #fff;
}

#line_tag .tag_box ol li a:hover {
  box-shadow: 3.3px 3.7px 9.7px 0.3px #ddd;
}

/* layBanner */
#banner_list {
  display: flex;
  justify-content: space-between;
}

#banner_list > div {
  width: 32%;
}

#banner_list > div img {
  border-radius: 10px;
}

/* bestReview */
#review_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#review_list .review_item {
  width: calc(25% - 16px);
  background: #fff;
  box-shadow: rgb(241, 241, 241) 1px 1px 10px;
}

#review_list .review_item hr {
  border: 1px solid #f4f4f4;
  margin: 10px 0;
}

#review_list .review_item .item_img {
  padding: 16px 16px 0 16px;
}

#review_list .review_item .item_img a {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

#review_list .review_item:nth-child(1) .item_img a {
  background: url("../img/elements/review01.png") no-repeat center;
  background-size: cover;
}

#review_list .review_item:nth-child(2) .item_img a {
  background: url("../img/elements/review02.jpg") no-repeat center;
  background-size: cover;
}

#review_list .review_item:nth-child(3) a {
  background: url("../img/elements/review03.jpg") no-repeat center;
  background-size: cover;
}

#review_list .review_item:nth-child(4) a {
  background: url("../img/elements/review04.jpg") no-repeat center;
  background-size: cover;
}

#review_list .review_item .item_desc {
  padding: 16px;
}

#review_list .review_item .item_desc .desc_tit strong {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

#review_list .review_item .item_desc .desc_tit p {
  font-size: 1.5rem;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#review_list .review_item .desc_score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 16px 16px;
}

#review_list .review_item .desc_score .score_img {
  width: 30%;
  margin-right: 10px;
}

#review_list .review_item .desc_score .score_rating {
  width: calc(70% - 10px);
}

#review_list .review_item .desc_score .score_rating strong {
  font-size: 1.7rem;
  font-weight: 500;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#review_list .review_item .desc_score .score_rating em {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 6px;
}

#review_list .review_item .desc_score .score_rating .score {
  text-indent: -9999px;
  overflow: hidden;
  display: inline-block;
  width: 60px;
  height: 20px;
  background: transparent url("../img/elements/rating.svg") no-repeat left;
  background-size: cover;
  vertical-align: middle;
  margin-top: 2px;
}

/* mouthProd */
#eventProd {
  background: #EFEBE9;
}

#eventProd #event_tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

#eventProd #event_tit .tit_banner {
  width: calc(55% - 48px);
}

#eventProd #event_tit .tit_desc {
  width: 45%;
}

#eventProd #event_tit .tit_banner img {
  border-radius: 10px;
}

#eventProd #event_tit .tit_desc strong {
  font-size: 4rem;
  font-weight: 600;
}

#eventProd #event_tit .tit_desc hr {
  width: 50px;
  border: 1px solid #97BF42;
  margin: 32px 0;
}

#eventProd #event_tit .tit_desc span {
  font-size: 2.4rem;
  font-weight: 600;
  color: #97BF42;
  display: inline-block;
  margin-bottom: 24px;
}

#eventProd #event_list .event_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#eventProd #event_list .event_wrap .event_item {
  width: calc(50% - 16px);
  height: 200px;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  margin-bottom: 32px;
}

#eventProd #event_list .event_wrap .event_item .img {
  width: 30%;
  box-shadow: rgb(240, 240, 240) 1px 1px 10px;
}

#eventProd #event_list .event_wrap .event_item .img a {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

#eventProd #event_list .event_wrap div:nth-child(1) .img a {
  background: url("../img/elements/mugiza01.jpeg") no-repeat center;
  background-size: cover;
}

#eventProd #event_list .event_wrap div:nth-child(2) .img a {
  background: url("../img/elements/mugiza02.jpeg") no-repeat center;
  background-size: cover;
}

#eventProd #event_list .event_wrap div:nth-child(3) .img a {
  background: url("../img/elements/mugiza03.jpeg") no-repeat center;
  background-size: cover;
}

#eventProd #event_list .event_wrap div:nth-child(4) .img a {
  background: url("../img/elements/mugiza04.jpg") no-repeat center;
  background-size: cover;
}

#eventProd #event_list .event_wrap .event_item .desc {
  width: 70%;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
}

#eventProd #event_list .event_wrap .event_item .desc strong {
  font-size: 1.6rem;
  font-weight: 500;
}

#eventProd #event_list .event_wrap .event_item .desc a {
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  margin-bottom: 20px;
}

#eventProd #event_list .event_wrap .event_item .desc p {
  margin-top: auto;
}

#eventProd #event_list .event_wrap .event_item .desc p strong {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ec1a3b;
  margin-right: 18px;
}

#eventProd #event_list .event_wrap .event_item .desc p em {
  font-size: 1.4rem;
  text-decoration: line-through;
  margin-right: 6px;
}

#eventProd #event_list .event_wrap .event_item .desc p span {
  font-size: 2rem;
  font-weight: 800;
}

#eventProd #event_list .event_wrap .event_item .desc .button {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

#eventProd #event_list .event_wrap .event_item .desc .button .bt {
  width: 38px;
  height: 38px;
  text-align: center;
  border-radius: 5px;
  background: #97BF42;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}

#eventProd #event_list .event_wrap .event_item .desc .button svg {
  width: 24px;
  height: 24px;
  display: inline-block;
  stroke: #fff;
}

/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */