@charset "utf-8";

$main-color: #97BF42;
$sub-color01: #C5E1A5;
$sub-color02: #f5f3f3;
$gry-color: #dedede;
$es-small: 24px;
$es-medium: 32px;


/* 스킵 메뉴 */
#skip {
    position: relative;
    a {
        position: absolute;
        left: 0;
        top: -40px;
        width: 140px;
        border: 1px solid #fff;
        background: #333;
        color: #fff;
        text-align: center;
        line-height: 30px;
        z-index: 1;

        &.active,
        &.focus {
            top: 0;
        }
    }
}



/* header */
#header {
    .container {
        position: relative;
        max-width: 1420px;
        margin: 0 auto;
    }
    a {
        font-size: 17px;
        font-weight: 400;
    }
    #header_top .row {
        display: flex;
        align-items: flex-end;
        padding: 24px 0;
    }
    #header_gnb .row {
        display: flex;
        align-items: center;
    }
    #header_gnb {
        border-top: 1px solid $gry-color;
        border-bottom: 1px solid $gry-color;
    }
}

// header_top
#header_top .top_logo a img {
    width: 140px;
}
#header_top .top_sbar form {
    margin-left: 48px;
}
#header_top .top_sbar form fieldset {
    width: 500px;
    border: 2px solid $main-color;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 7px 20px;
}
#header_top .top_sbar form fieldset .sbarInput {
    width: 80%;
    height: 30px;
    font-size: 1.4rem;
}
#header_top .top_sbar form fieldset .sbarBtn {
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-top: 2px;
}
#header_top .top_user {
    margin-left: auto;
}
#header_top .top_user ul li {
    display: inline-block;
    position: relative;
}
#header_top .top_user ul li a {
    padding: 0 24px;
    position: relative;
}
#header_top .top_user ul li a img {
    width: 24px;
}
#header_top .top_user ul li a strong {
    position: absolute;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    display: inline-block;
    color: #fff;
    padding: 0 5px;
}
#header_top .top_user ul li.bt_user a strong {
    background: #444;
    min-width: 15px;
    height: 18px;
    border-radius: 8.5px;
    top: 12px;
    right: 4px;
    line-height: 18px;
}
#header_top .top_user ul li.bt_cart a strong {
    min-width: 20px;
    height: 20px;
    background: #ec1a3b;
    border-radius: 50%;
    line-height: 20px;
    top: 9px;
    right: 14px;
}
// header_gnb
#header_gnb .gnb_btn ul li.btn {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: $main-color url('../img/menu.png') no-repeat center;
    background-size: 28px 28px;
}
#header_gnb .gnb_btn ul li.btn .lineBox {
    display: flex;
    width: 1280px;
    position: relative;
    top: 50px;
    left: 0;
    outline: 1px solid red;
    display: none;
}
#header_gnb .gnb_btn ul li.btn .lineBox ul li .tit {
    background: #EFEBE9;
    width: 175px;
    display: block;
}
#header_gnb .gnb_btn ul li.btn .lineBox ul li .tit a {
    padding: 22px 0px 22px 22px;
    transition: all 0.3s;
    position: relative;
}
#header_gnb .gnb_btn ul li.btn .lineBox ul li .tit a:before {
    content: '';
    width: 2px;
    height: 70px;
    background: $main-color;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
#header_gnb .gnb_btn ul li.btn .lineBox ul li .tit a:hover {
    background: #dedbd9;
}
#header_gnb .gnb_btn ul li.btn .lineBox ul li .tit a:hover:before {
    opacity: 1;
}
#header_gnb .gnb_menu ul li {
    display: inline-block;
    padding: 0 24px;
}
#header_gnb .gnb_rank {
    margin-left: auto;
    position: relative;
}
#header_gnb .gnb_rank a {
    font-size: 1.3rem;
}
#header_gnb .gnb_rank .rank_list {
    width: 260px;
    height: 40px;
    overflow: hidden;
    position: relative;
}
#header_gnb .gnb_rank .rank_list strong {
    position: absolute;
    right: 0;
    top: 8px;
}
#header_gnb .gnb_rank .rank_list ol li {
    padding: 12px 4px;
    outline: 1px solid red;
}
#header_gnb .gnb_rank .rank_list ol li span {
    display: inline-block;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}
#header_gnb .gnb_rank .rank_list ol li span em {
    display: inline-block;
    width: 50px;
    text-align: right;
    margin-right: 12px;
    color: $main-color;
    font-weight: 600;
}
#header_gnb .gnb_rank .rank_list .arrow {
    width: 12px;
    height: 12px;
    background: url('../img/angle-down-free-icon-font.png') no-repeat center;
    background-size: contain;
    position: absolute;
    top: 14px;
    right: 0;
    cursor: pointer;
}
#header_gnb .gnb_rank .rank_all {
    background: #ffffff;
    position: absolute;
    top: 40px;
    left: 0;
    padding: 14px 5px;
    border-radius: 8.5px;
    box-shadow: rgb(241, 241, 241) 1px 1px 10px;
    display: none;
}
#header_gnb .gnb_rank .rank_all ul li {
    padding: 2px 0;
}
#header_gnb .gnb_rank .rank_all ul li em {
    display: inline-block;
    width: 18px;
    text-align: right;
    margin-right: 8px;
    color: $main-color;
    font-weight: 600;
}
#header_gnb .gnb_rank .rank_all ul li span {
    display: inline-block;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;

}


/** 컨텐츠 시작 **/
/* 공통 */
.sec {
    .container:not(#main .container) {
    position: relative;
    max-width: 1420px;
    margin: 0 auto;
    }
    .row:not(#main .row, #footer .row) {
        padding: 80px 0;
    }
}
// 타이틀
#tit {
    text-align: center;
    h2 {
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 16px;
    }
    h3 {
        font-size: 1.8rem;
        margin-bottom: 48px;
    }
    span {
        font-weight: 100;
    }
}

// 상품 마크 표시
%mark {
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;

    em {
        color: $main-color;
    }
}

.mark_best {
    @extend %mark;
    background: $main-color;
    color: #fff;
}

.mark_plus {
    @extend %mark;
    border: 1px solid $sub-color01;
    background: #fff;
}

/* 버튼 */
#basic_btn {
    margin-top: 50px;
    text-align: center;
}
.basic_btn{
    display: inline-block;
    width: 220px;
    height: 50px;
    line-height: 50px;
    background: $main-color;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 20px;
    border-radius: 10px;
    transition: all 0.3s;
}
.basic_btn span {
    width: 24px;
    height: 24px;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left: 14px;
    border-radius: 50%;
    position: relative;
}
.basic_btn span svg {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $main-color;
}
.basic_btn:hover {
    background: #fff;
    border: 1px solid $main-color;
    color: $main-color;
}
.basic_btn:hover span {
    background: $main-color;
}
.basic_btn:hover span svg {
    fill: #fff;
}


/* main */
#main {
    position: relative;
}
#main_menu {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 190px;
    height: 700px;
    z-index: 5;
    margin-left: -545px;
    padding: 12px;
    background: #fff;
    outline: 1px solid red;
    display: none;
}
#main_menu ul {
    height: 100%;
    border: 1px solid $sub-color02;
    border-radius: 8.5px;
}
#main_menu ul li a {
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    padding: 16px 0px 8px 8px;
    display: flex;
    align-items: center;
}
#main_menu ul li a em {
    margin-right: 16px;
}
#main_menu ul li a em img {
    width: $es-medium;
    height: $es-medium;
    opacity: 0.5;
}
#main_menu ul li a span {
    display: inline-block;
    padding-top: 3px;
}


/* lineProd */
#line_tag {
    margin-bottom: 32px;
}
#line_tag .tag_box {
    background: $sub-color02;
    padding: 10px;
    border-radius: 10px;
}
#line_tag .tag_box ol li {
    display: inline-block;
    margin-right: 12px;
    text-align: center;
}
#line_tag .tag_box ol li a {
    font-size: 1.8rem;
    font-weight: 600;
    color: #666;
    background: #ffffff;
    padding: 7px 24px;
    border-radius: 10px;
}
#line_tag .tag_box ol li a:focus {
    box-shadow: 3.3px 3.7px 9.7px 0.3px #ddd;
    background: $main-color;
    color: #fff;
}
#line_tag .tag_box ol li a:hover {
    box-shadow: 3.3px 3.7px 9.7px 0.3px #ddd;
}


/* layBanner */
#banner_list {
    display: flex;
    justify-content: space-between;
}
#banner_list > div {
    width: 31.6%;
}
#banner_list > div img {
    border-radius: 10px;
}


/* introProd */
#introProd {
    background: url('../img/introBg.jpg') no-repeat center;
    background-size: cover;
}
#intro_prod .intro_wrap {
    margin: 30px 0;
}
#intro_prod .intro_wrap .intro_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 10px;
}
#intro_prod .intro_wrap .intro_list .img{
    width: calc(50% - 80px);
}
#intro_prod .intro_wrap .intro_list .desc{
    width: 50%;
}
#intro_prod .intro_wrap .intro_list .img img {
    width: 100%;
    height: 600px;
    border-radius: 10px 0px 0 10px;
    box-shadow: 3.3px 3.7px 9.7px 0.3px rgb(244, 244, 244);
}
#intro_prod .intro_wrap .intro_list .desc .descTit {
    margin-bottom: 50px;
}
#intro_prod .intro_wrap .intro_list .desc .descTit h4 {
    font-size: 6rem;
    font-weight: 700;
    font-family: 'Cairo', sans-serif;
}
#intro_prod .intro_wrap .intro_list .desc .descTit p {
    margin-top: -8px;
}
#intro_prod .intro_wrap .intro_list .desc .descCont strong {
    font-size: 2rem;
    margin-bottom: 14px;
    color: $main-color;
    font-weight: 700;
}
#intro_prod .intro_wrap .intro_list .desc .descCont strong .line {
    display: inline-block;
    width: 56px;
    height: 1px;
    background: $main-color;
    vertical-align: middle;
    margin-top: 14px;
    margin-left: 10px;
}
#intro_prod .intro_wrap .intro_list .desc .descCont span {
    display: block;
    font-size: 3.8rem;
    margin-bottom: 18px;
}
#intro_prod .intro_wrap .intro_list .desc .descCont p {
    font-size: 1.6rem;
    margin-bottom: 72px;
}


/* bestReview */


/* eventProd */
#eventProd #event_tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
#eventProd #event_tit .tit_banner {
    width: calc(55% - 48px);
}
#eventProd #event_tit .tit_desc {
    width: 45%;
}
#eventProd #event_tit .tit_banner img {
    border-radius: 10px;
    box-shadow: 3.3px 3.7px 9.7px 0.3px rgb(242, 242, 242);
}
#eventProd #event_tit .tit_desc strong {
    font-size: 4rem;
    font-weight: 600;
}
#eventProd #event_tit .tit_desc hr {
    width: 50px;
    border: 1px solid $main-color;
    margin: 32px 0;
}
#eventProd #event_tit .tit_desc span {
    font-size: 2.4rem;
    font-weight: 600;
    color: $main-color;
    display: inline-block;
    margin-bottom: 24px;
}
#eventProd #event_list .event_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#eventProd #event_list .event_wrap .event_item {
    width: calc(50% - 16px);
    height: 200px;
    border-radius: 10px;
    background: $sub-color02;
    display: flex;
    margin-bottom: 32px;
}
#eventProd #event_list .event_wrap .event_item .img {
    width: 30%;
    box-shadow: rgb(240, 240, 240) 1px 1px 10px;
}
#eventProd #event_list .event_wrap .event_item .img a {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
#eventProd #event_list .event_wrap div:nth-child(1) .img a {
    background: url('../img/elements/mugiza01.jpeg') no-repeat center;
    background-size: cover;
}
#eventProd #event_list .event_wrap div:nth-child(2) .img a {
    background: url('../img/elements/mugiza02.jpeg') no-repeat center;
    background-size: cover;
}
#eventProd #event_list .event_wrap div:nth-child(3) .img a {
    background: url('../img/elements/mugiza03.jpeg') no-repeat center;
    background-size: cover;
}
#eventProd #event_list .event_wrap div:nth-child(4) .img a {
    background: url('../img/elements/mugiza04.jpg') no-repeat center;
    background-size: cover;
}
#eventProd #event_list .event_wrap .event_item .desc {
    width: 70%;
    padding: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
}
#eventProd #event_list .event_wrap .event_item .desc strong {
    font-size: 1.6rem;
    font-weight: 500;
}
#eventProd #event_list .event_wrap .event_item .desc a {
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 20px;
}
#eventProd #event_list .event_wrap .event_item .desc p {
    margin-top: auto;
}
#eventProd #event_list .event_wrap .event_item .desc p strong {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ec1a3b;
    margin-right: 18px;
}
#eventProd #event_list .event_wrap .event_item .desc p em {
    font-size: 1.4rem;
    text-decoration: line-through;
    margin-right: 6px;
}
#eventProd #event_list .event_wrap .event_item .desc p span {
    font-size: 2rem;
    font-weight: 800;
}
#eventProd #event_list .event_wrap .event_item .desc .button {
    position: absolute;
    right: 24px;
    bottom: 24px;
}
#eventProd #event_list .event_wrap .event_item .desc .button .bt {
    width: 38px;
    height: 38px;
    text-align: center;
    border-radius: 5px;
    background: $main-color;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
}
#eventProd #event_list .event_wrap .event_item .desc .button svg {
    width: 24px;
    height: 24px;
    display: inline-block;
    stroke: #fff;
}


/* serviceCenter */
#serviceCenter {
    background: $sub-color02;

    .row {
        display: flex;
        justify-content: space-between;

    }

    #service_tit {
        width: 35%;
    }

    #service_list {
        width: 65%;
    }
}
#service_tit {
    h3 {
        font-size: 3.2rem;
        font-weight: 700;
        margin-bottom: 16px;
    }
    h3 em {
        color: $main-color;
    }
    p {
        font-size: 1.8rem;
        margin-bottom: 50px;
    }
}
#service_list .service_wrap {
    display: flex;
    justify-content: space-between;

    li {
        margin: 0 16px;
        text-align: center;
    }
    li a {
        background: #ffffff;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        line-height: 150px;
        margin-bottom: 24px;
        position: relative;
    }
    li a img {
        width: 70px;
        height: 70px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.8;
    }
    li strong {
        font-size: 1.8rem;
        font-weight: 500;
    }
    li p {
        font-size: 1.4rem;
        color: #777777;
    }
}


/* notice */
#notice {
    #notice_banner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    #notice_banner > div {
        width: calc(50% - 24px);
    }
    #notice_board {
        display: flex;
        justify-content: space-between;
    }
    #notice_board > div {
        width: calc(50% - 24px);
    }
}
#notice_banner img {
    border-radius: 10px;
}
#notice_board {
    .board {
        position: relative;
    }
    .board h3 {
        padding: 13px 0;
        font-size: 2rem;
        font-weight: 500;
        line-height: 36px;
        border-bottom: 1px solid #777777;
    }
    .board .viewMore {
        position: absolute;
        top: 24px;
        right: 0;
        font-size: 1.5rem;
    }
    .board thead {
        display: none;
    }
    .board tbody td {
        width: 100%;
        padding: 24px 10px;
        border-bottom: 1px dotted #d8d8d8;
    }
    .board tbody td.title {
        font-weight: 500;
    }
}


/* footer */
#footer {
    background: $sub-color02;

    .row {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
    }
    #footer_menu {
        width: calc(75% - 100px);
    }
    #footer_cs {
        width: 25%;
        display: flex;
    }
}
#footer_menu {
    ul {
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 40px;
    }
    ul li {
        display: inline-block;
    }
    ul li:nth-child(even) {
        color: #d9d9d9;
    }
    ul li a {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 16px 6px;
    }
    .info p span {
        font-size: 1.3rem;
        margin-right: 12px;
    }
}
#footer_cs {
    a {
        width: 150px;
        margin-bottom: 6px;
    }
    .cs {
        margin-left: auto;
    }
    .csNumber {
        font-weight: 700;
        margin-bottom: 16px;
    }
    .csNumber span {
        margin-right: 6px;
    }
    .csInfo span {
        display: block;
        font-size: 1.3rem;
    }
}
/*# sourceMappingURL=style.css.map */