@charset "UTF-8";
/* 스킵 메뉴 */
#skip {
  position: relative;
}
#skip a {
  position: absolute;
  left: 0;
  top: -40px;
  width: 140px;
  border: 1px solid #fff;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 30px;
  z-index: 1;
}
#skip a.active, #skip a.focus {
  top: 0;
}

/* header */
#header .container {
  position: relative;
  max-width: 1420px;
  margin: 0 auto;
}
#header a {
  font-size: 17px;
  font-weight: 400;
}
#header #header_top .row {
  display: flex;
  align-items: flex-end;
  padding: 24px 0;
}
#header #header_gnb .row {
  display: flex;
  align-items: center;
}
#header #header_gnb {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

#header_top .top_logo a img {
  width: 140px;
}

#header_top .top_sbar form {
  margin-left: 48px;
}

#header_top .top_sbar form fieldset {
  width: 500px;
  border: 2px solid #97BF42;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 7px 20px;
}

#header_top .top_sbar form fieldset .sbarInput {
  width: 80%;
  height: 30px;
  font-size: 1.4rem;
}

#header_top .top_sbar form fieldset .sbarBtn {
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-top: 2px;
}

#header_top .top_user {
  margin-left: auto;
}

#header_top .top_user ul li {
  display: inline-block;
  position: relative;
}

#header_top .top_user ul li a {
  padding: 0 24px;
  position: relative;
}

#header_top .top_user ul li a img {
  width: 24px;
}

#header_top .top_user ul li a strong {
  position: absolute;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  display: inline-block;
  color: #fff;
  padding: 0 5px;
}

#header_top .top_user ul li.bt_user a strong {
  background: #444;
  min-width: 15px;
  height: 18px;
  border-radius: 8.5px;
  top: 12px;
  right: 4px;
  line-height: 18px;
}

#header_top .top_user ul li.bt_cart a strong {
  min-width: 20px;
  height: 20px;
  background: #ec1a3b;
  border-radius: 50%;
  line-height: 20px;
  top: 9px;
  right: 14px;
}

#header_gnb .gnb_btn ul li.btn {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #97BF42 url("../img/menu.png") no-repeat center;
  background-size: 28px 28px;
}

#header_gnb .gnb_btn ul li.btn .lineBox {
  display: flex;
  width: 1280px;
  position: relative;
  top: 50px;
  left: 0;
  outline: 1px solid red;
  display: none;
}

#header_gnb .gnb_btn ul li.btn .lineBox ul li .tit {
  background: #EFEBE9;
  width: 175px;
  display: block;
}

#header_gnb .gnb_btn ul li.btn .lineBox ul li .tit a {
  padding: 22px 0px 22px 22px;
  transition: all 0.3s;
  position: relative;
}

#header_gnb .gnb_btn ul li.btn .lineBox ul li .tit a:before {
  content: "";
  width: 2px;
  height: 70px;
  background: #97BF42;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#header_gnb .gnb_btn ul li.btn .lineBox ul li .tit a:hover {
  background: #dedbd9;
}

#header_gnb .gnb_btn ul li.btn .lineBox ul li .tit a:hover:before {
  opacity: 1;
}

#header_gnb .gnb_menu ul li {
  display: inline-block;
  padding: 0 24px;
}

#header_gnb .gnb_rank {
  margin-left: auto;
  position: relative;
}

#header_gnb .gnb_rank a {
  font-size: 1.3rem;
}

#header_gnb .gnb_rank .rank_list {
  width: 260px;
  height: 40px;
  overflow: hidden;
  position: relative;
}

#header_gnb .gnb_rank .rank_list strong {
  position: absolute;
  right: 0;
  top: 8px;
}

#header_gnb .gnb_rank .rank_list ol li {
  padding: 12px 4px;
  outline: 1px solid red;
}

#header_gnb .gnb_rank .rank_list ol li span {
  display: inline-block;
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

#header_gnb .gnb_rank .rank_list ol li span em {
  display: inline-block;
  width: 50px;
  text-align: right;
  margin-right: 12px;
  color: #97BF42;
  font-weight: 600;
}

#header_gnb .gnb_rank .rank_list .arrow {
  width: 12px;
  height: 12px;
  background: url("../img/angle-down-free-icon-font.png") no-repeat center;
  background-size: contain;
  position: absolute;
  top: 14px;
  right: 0;
  cursor: pointer;
}

#header_gnb .gnb_rank .rank_all {
  background: #ffffff;
  position: absolute;
  top: 40px;
  left: 0;
  padding: 14px 5px;
  border-radius: 8.5px;
  box-shadow: rgb(241, 241, 241) 1px 1px 10px;
  display: none;
}

#header_gnb .gnb_rank .rank_all ul li {
  padding: 2px 0;
}

#header_gnb .gnb_rank .rank_all ul li em {
  display: inline-block;
  width: 18px;
  text-align: right;
  margin-right: 8px;
  color: #97BF42;
  font-weight: 600;
}

#header_gnb .gnb_rank .rank_all ul li span {
  display: inline-block;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

/* 컨텐츠 레이아웃 */
.container {
  position: relative;
  max-width: 1420px;
  margin: 0 auto;
}

/* main */
#main {
  position: relative;
}

#main_menu {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 190px;
  height: 700px;
  z-index: 5;
  margin-left: -545px;
  padding: 12px;
  background: #fff;
  outline: 1px solid red;
  display: none;
}

#main_menu ul {
  height: 100%;
  border: 1px solid #EFEBE9;
  border-radius: 8.5px;
}

#main_menu ul li a {
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  padding: 16px 0px 8px 8px;
  display: flex;
  align-items: center;
}

#main_menu ul li a em {
  margin-right: 16px;
}

#main_menu ul li a em img {
  width: 32px;
  height: 32px;
  opacity: 0.5;
}

#main_menu ul li a span {
  display: inline-block;
  padding-top: 3px;
}

.single-item {
  background: red;
}/*# sourceMappingURL=style.css.map */