@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, li, ol {
  list-style: none;
}

fieldset, img {
  border: 0 none;
  vertical-align: top;
}

b {
  font-weight: 500;
}

/* input style */
input {
  background-image: none;
}

input[type=button],
input[type=reset],
input[type=text],
input[type=password],
input[type=submit],
input[type=search],
input[type=tel],
input[type=email] {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input:checked[type=checkbox] {
  -webkit-appearance: checkbox;
}

input:focus {
  outline: none;
}

/* 모바일 통일성 */
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

/* clearfix (IE7) */
.clearfix {
  zoom: 1;
}

.clearfix::before, .clearfix::after {
  display: block;
  content: "";
  line-height: 0;
}

.clearfix::after {
  clear: both;
}

/* ir */
/* 이미지O 대체 텍스트 */
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 이미지X 대체텍스트 */
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* 접근성 숨김 텍스트 */
.ir_su {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 100;
  src: url("../font/NanumSquareL.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  src: url("../font/NanumSquareR.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  src: url("../font/NanumSquareB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 600;
  src: url("../font/NanumSquareEB.ttf") format("truetype");
}
@font-face {
  font-family: "Cairo";
  src: url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap") format("truetype");
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "NanumSquare", sans-serif;
  font-weight: 300;
  color: #444444;
}

/****** 스킵 메뉴 ******/
#skip {
  position: relative;
}
#skip a {
  position: absolute;
  left: 0;
  top: -40px;
  width: 140px;
  border: 1px solid #fff;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 30px;
  z-index: 1;
}
#skip a:active, #skip a:focus {
  top: 0;
}

/****** header ******/
#header .container {
  position: relative;
  max-width: 1420px;
  margin: 0 auto;
}
#header a {
  font-size: 17px;
  font-weight: 400;
}
#header #header_top .row {
  display: flex;
  align-items: flex-end;
  padding: 24px 0;
}
#header #header_gnb .row {
  display: flex;
  align-items: center;
}
#header #header_gnb {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

#header_top .top_logo img {
  width: 140px;
}
#header_top .top_user {
  margin-left: auto;
}
#header_top .top_user ul li {
  display: inline-block;
  position: relative;
}
#header_top .top_user ul li a {
  padding: 0 24px;
  position: relative;
}
#header_top .top_user ul li a img {
  width: 24px;
}
#header_top .top_user ul li a strong {
  position: absolute;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  display: inline-block;
  color: #fff;
  padding: 0 5px;
}
#header_top .top_user ul li.bt_user a strong {
  background: #444;
  min-width: 15px;
  height: 18px;
  border-radius: 8.5px;
  top: 12px;
  right: 4px;
  line-height: 18px;
}
#header_top .top_user ul li.bt_cart a strong {
  min-width: 20px;
  height: 20px;
  background: #ec1a3b;
  border-radius: 50%;
  line-height: 20px;
  top: 9px;
  right: 14px;
}

#header_gnb .gnb_btn:hover > .btn_box {
  z-index: 1;
  opacity: 1;
}
#header_gnb .gnb_btn .btn {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #97BF42 url("../img/menu.png") no-repeat center;
  background-size: 28px 28px;
}
#header_gnb .gnb_btn .btn_box {
  width: 1420px;
  background: #ffffff;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #dedede;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50px;
  left: 0;
  transition: all 0.3s;
  z-index: -1;
  opacity: 0;
}
#header_gnb .gnb_btn .btn_box .newBox {
  width: 15%;
  padding: 40px;
}
#header_gnb .gnb_btn .btn_box .newBox a {
  width: 180px;
  padding: 14px;
  background: #f5f3f3;
  margin-bottom: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}
#header_gnb .gnb_btn .btn_box .newBox a:hover {
  background: #e4e4e4;
}
#header_gnb .gnb_btn .btn_box .newBox a svg {
  width: 18px;
  height: 18px;
  margin-top: 2px;
}
#header_gnb .gnb_btn .btn_box .prodBox {
  width: 65%;
}
#header_gnb .gnb_btn .btn_box .banBox {
  width: 20%;
  padding: 40px;
  border-left: 1px solid #dedede;
}
#header_gnb .gnb_btn .btn_box .banBox img {
  width: 100%;
}
#header_gnb .gnb_btn .btn_box .prodBox {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
#header_gnb .gnb_btn .btn_box .prodBox > li {
  width: calc(25% - 24px);
}
#header_gnb .gnb_btn .btn_box .prodBox > li .line {
  width: 100%;
  height: 1px;
  background: #dedede;
  display: inline-block;
  margin: 6px 0;
}
#header_gnb .gnb_btn .btn_box .prodBox > li .desc {
  margin-top: 12px;
}
#header_gnb .gnb_btn .btn_box .prodBox > li .desc ol li {
  display: inline-block;
  width: calc(50% - 2px);
}
#header_gnb .gnb_btn .btn_box .prodBox > li .desc ol li a {
  font-size: 1.4rem;
  padding: 6px 0;
}
#header_gnb .gnb_btn .btn_box .prodBox > li .desc ol li a:hover {
  color: #97BF42;
}

#header_gnb .gnb_menu ul li {
  display: inline-block;
  position: relative;
}
#header_gnb .gnb_menu ul li a {
  padding: 10px 24px;
}
#header_gnb .gnb_menu ul li a:hover {
  color: #97BF42;
}
#header_gnb .gnb_menu ul li:hover .subMenu ol {
  display: block;
}
#header_gnb .gnb_menu .subMenu ol {
  position: absolute;
  top: 49px;
  left: 0;
  background: #ffffff;
  padding: 10px 0;
  border-radius: 0 0 10px 10px;
  transition: all 0.3s;
  z-index: 1;
  display: none;
}
#header_gnb .gnb_menu .subMenu ol li {
  white-space: nowrap;
}

#header_gnb .gnb_rank {
  margin-left: auto;
  position: relative;
}
#header_gnb .gnb_rank:hover .rank_all {
  opacity: 1;
  z-index: 1;
}
#header_gnb .gnb_rank a {
  font-size: 1.3rem;
}
#header_gnb .gnb_rank a:hover {
  color: #97BF42;
}
#header_gnb .gnb_rank .rank_list {
  width: 260px;
  height: 40px;
  overflow: hidden;
  position: relative;
}
#header_gnb .gnb_rank .rank_list ol {
  transition: transform 0.3s;
}
#header_gnb .gnb_rank .rank_list ol li {
  padding: 12px 4px;
}
#header_gnb .gnb_rank .rank_list ol li span {
  display: inline-block;
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
#header_gnb .gnb_rank .rank_list ol li span em {
  display: inline-block;
  width: 50px;
  text-align: right;
  margin-right: 12px;
  color: #97BF42;
  font-weight: 600;
}
#header_gnb .gnb_rank .rank_list .arrow {
  width: 12px;
  height: 12px;
  background: url("../img/angle-down-free-icon-font.png") no-repeat center;
  background-size: contain;
  position: absolute;
  top: 14px;
  right: 0;
  cursor: pointer;
}
#header_gnb .gnb_rank .rank_all {
  background: #ffffff;
  border-radius: 10px;
  padding: 14px 5px;
  position: absolute;
  top: 40px;
  left: 0;
  opacity: 0;
}
#header_gnb .gnb_rank .rank_all ul li {
  padding: 2px 0;
}
#header_gnb .gnb_rank .rank_all ul li em {
  display: inline-block;
  width: 18px;
  text-align: right;
  margin-right: 8px;
  color: #97BF42;
  font-weight: 600;
}
#header_gnb .gnb_rank .rank_all ul li span {
  display: inline-block;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

/******* 컨텐츠 시작 ******/
.sec .container:not(#main .container) {
  position: relative;
  max-width: 1420px;
  margin: 0 auto;
}
.sec .mainP {
  padding: 80px 0;
}

#sub_tit, .main_tit {
  text-align: center;
}
#sub_tit h2, .main_tit h2 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 6px;
}
#sub_tit span, .main_tit span {
  font-weight: 100;
}

.main_tit h3 {
  margin-bottom: 48px;
}

.mark_plus, .mark_best {
  width: 50px;
  height: 50px;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.mark_plus em, .mark_best em {
  color: #97BF42;
}

.mark_best {
  background: #97BF42;
  color: #fff;
}

.mark_plus {
  border: 1px solid #C5E1A5;
  background: #fff;
}

#basic_btn {
  margin-top: 50px;
  text-align: center;
}

.basic_btn {
  display: inline-block;
  width: 220px;
  height: 50px;
  line-height: 50px;
  background: #97BF42;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0 20px;
  border-radius: 5px;
  transition: all 0.3s;
}
.basic_btn span {
  width: 24px;
  height: 24px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
  margin-left: 14px;
  border-radius: 50%;
  position: relative;
}
.basic_btn span svg {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #97BF42;
}

.basic_btn:hover {
  background: #fff;
  border: 1px solid #97BF42;
  color: #97BF42;
}

.basic_btn:hover span {
  background: #97BF42;
}

.basic_btn:hover span svg {
  fill: #fff;
}

/****** main ******/
#main {
  position: relative;
}

#main_menu {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 190px;
  height: 700px;
  z-index: 5;
  margin-left: -545px;
  padding: 12px;
  background: #fff;
  outline: 1px solid red;
  display: none;
}
#main_menu ul {
  height: 100%;
  border: 1px solid #f5f3f3;
  border-radius: 10px;
}
#main_menu ul li a {
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  padding: 16px 0px 8px 8px;
  display: flex;
  align-items: center;
}
#main_menu ul li a em {
  margin-right: 16px;
}
#main_menu ul li a em img {
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
#main_menu ul li a span {
  display: inline-block;
  padding-top: 3px;
}

/****** lineProd ******/
#line_tag {
  margin-bottom: 32px;
}

#line_tag .tag_box {
  background: #f5f3f3;
  padding: 10px;
  border-radius: 10px;
}

#line_tag .tag_box ol li {
  display: inline-block;
  margin-right: 12px;
  text-align: center;
}

#line_tag .tag_box ol li a {
  font-size: 1.8rem;
  font-weight: 600;
  color: #666;
  background: #ffffff;
  padding: 7px 24px;
  border-radius: 10px;
}

#line_tag .tag_box ol li a:focus {
  box-shadow: 3.3px 3.7px 9.7px 0.3px #e4e4e4;
  background: #97BF42;
  color: #fff;
}

#line_tag .tag_box ol li a:hover {
  box-shadow: 3.3px 3.7px 9.7px 0.3px #e4e4e4;
}

/****** layBanner ******/
#banner_list {
  display: flex;
  justify-content: space-between;
}

#banner_list > div {
  width: 31.6%;
}

#banner_list > div img {
  border-radius: 10px;
}

/****** introProd ******/
#introProd {
  background: url("../img/introBg.jpg") no-repeat center;
  background-size: cover;
}

#intro_prod .intro_wrap {
  margin: 30px 0;
}

#intro_prod .intro_wrap .intro_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 10px;
}

#intro_prod .intro_wrap .intro_list .img {
  width: calc(50% - 80px);
}

#intro_prod .intro_wrap .intro_list .desc {
  width: 50%;
}

#intro_prod .intro_wrap .intro_list .img img {
  width: 100%;
  height: 600px;
  border-radius: 10px 0px 0 10px;
  box-shadow: 3.3px 3.7px 9.7px 0.3px rgb(244, 244, 244);
}

#intro_prod .intro_wrap .intro_list .desc .descTit {
  margin-bottom: 50px;
}

#intro_prod .intro_wrap .intro_list .desc .descTit h4 {
  font-size: 6rem;
  font-weight: 700;
  font-family: "Cairo", sans-serif;
}

#intro_prod .intro_wrap .intro_list .desc .descTit p {
  margin-top: -8px;
}

#intro_prod .intro_wrap .intro_list .desc .descCont strong {
  font-size: 2rem;
  margin-bottom: 14px;
  color: #97BF42;
  font-weight: 700;
}

#intro_prod .intro_wrap .intro_list .desc .descCont strong .line {
  display: inline-block;
  width: 56px;
  height: 1px;
  background: #97BF42;
  vertical-align: middle;
  margin-top: 14px;
  margin-left: 10px;
}

#intro_prod .intro_wrap .intro_list .desc .descCont span {
  display: block;
  font-size: 3.8rem;
  margin-bottom: 18px;
}

#intro_prod .intro_wrap .intro_list .desc .descCont p {
  font-size: 1.6rem;
  margin-bottom: 72px;
}

/****** bestReview ******/
/****** eventProd ******/
#event_tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
#event_tit .tit_banner {
  width: calc(55% - 48px);
}
#event_tit .tit_desc {
  width: 45%;
}
#event_tit .tit_banner img {
  border-radius: 10px;
  box-shadow: 3.3px 3.7px 9.7px 0.3px rgb(242, 242, 242);
}
#event_tit .tit_desc strong {
  font-size: 4rem;
  font-weight: 600;
}
#event_tit .tit_desc hr {
  width: 50px;
  border: 1px solid #97BF42;
  margin: 32px 0;
}
#event_tit .tit_desc span {
  font-size: 2.4rem;
  font-weight: 600;
  color: #97BF42;
  display: inline-block;
  margin-bottom: 24px;
}

#event_list .event_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#event_list .event_wrap .event_item {
  width: calc(50% - 16px);
  height: 200px;
  border-radius: 10px;
  background: #f5f3f3;
  display: flex;
  margin-bottom: 32px;
}
#event_list .event_wrap .event_item .img {
  width: 30%;
  box-shadow: rgb(240, 240, 240) 1px 1px 10px;
  overflow: hidden;
}
#event_list .event_wrap .event_item .img a {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  transition: all 0.3s;
}
#event_list .event_wrap .event_item .img a:hover {
  transform: scale(1.1);
}
#event_list .event_wrap div:nth-child(1) .img a {
  background: url("../img/products/mugija00.jpg") no-repeat center;
  background-size: cover;
}
#event_list .event_wrap div:nth-child(2) .img a {
  background: url("../img/products/mugija01.jpg") no-repeat center;
  background-size: cover;
}
#event_list .event_wrap div:nth-child(3) .img a {
  background: url("../img/products/mugija02.jpg") no-repeat center;
  background-size: cover;
}
#event_list .event_wrap div:nth-child(4) .img a {
  background: url("../img/products/mugija03.jpg") no-repeat center;
  background-size: cover;
}
#event_list .event_wrap .event_item .desc {
  width: 70%;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
}
#event_list .event_wrap .event_item .desc strong {
  font-size: 1.6rem;
  font-weight: 500;
}
#event_list .event_wrap .event_item .desc a {
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  margin-bottom: 20px;
}
#event_list .event_wrap .event_item .desc p {
  margin-top: auto;
}
#event_list .event_wrap .event_item .desc p strong {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ec1a3b;
  margin-right: 18px;
}
#event_list .event_wrap .event_item .desc p em {
  font-size: 1.4rem;
  text-decoration: line-through;
  margin-right: 6px;
}
#event_list .event_wrap .event_item .desc p span {
  font-size: 2rem;
  font-weight: 800;
}
#event_list .event_wrap .event_item .desc .button {
  position: absolute;
  right: 24px;
  bottom: 24px;
}
#event_list .event_wrap .event_item .desc .button .bt {
  width: 38px;
  height: 38px;
  text-align: center;
  border-radius: 5px;
  background: #97BF42;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}
#event_list .event_wrap .event_item .desc .button .bt:hover {
  background: #fff;
  border: 1px solid #97BF42;
}
#event_list .event_wrap .event_item .desc .button .bt:hover > svg {
  stroke: #97BF42;
}
#event_list .event_wrap .event_item .desc .button svg {
  width: 24px;
  height: 24px;
  display: inline-block;
  stroke: #fff;
}

/****** serviceCenter ******/
#serviceCenter {
  background: #f5f3f3;
}
#serviceCenter .row {
  display: flex;
  justify-content: space-between;
}
#serviceCenter #service_tit {
  width: 35%;
}
#serviceCenter #service_list {
  width: 65%;
}

#service_tit h3 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 16px;
}
#service_tit h3 em {
  color: #97BF42;
}
#service_tit p {
  font-size: 1.8rem;
  margin-bottom: 50px;
}

#service_list .service_wrap {
  display: flex;
  justify-content: space-between;
}
#service_list .service_wrap li {
  margin: 0 16px;
  text-align: center;
}
#service_list .service_wrap li .item_img {
  background: #ffffff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  line-height: 150px;
  margin-bottom: 24px;
  position: relative;
}
#service_list .service_wrap li .item_img:hover > img {
  width: 80px;
  height: 80px;
}
#service_list .service_wrap li .item_img img {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  transition: all 0.3s;
}
#service_list .service_wrap li .item_desc strong {
  font-size: 1.8rem;
  font-weight: 500;
}
#service_list .service_wrap li .item_desc p {
  font-size: 1.4rem;
  color: #777777;
}

/****** notice ******/
#notice #notice_banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
#notice #notice_banner > div {
  width: calc(50% - 24px);
}
#notice #notice_board {
  display: flex;
  justify-content: space-between;
}
#notice #notice_board > div {
  width: calc(50% - 24px);
}

#notice_banner img {
  border-radius: 10px;
}

#notice_board .board {
  position: relative;
}
#notice_board .board h3 {
  padding: 13px 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 36px;
  border-bottom: 1px solid #777777;
}
#notice_board .board .viewMore {
  position: absolute;
  top: 24px;
  right: 0;
  font-size: 1.5rem;
}
#notice_board .board thead {
  display: none;
}
#notice_board .board tbody td {
  width: 100%;
  padding: 24px 10px;
  border-bottom: 1px dotted #d8d8d8;
}
#notice_board .board tbody td.title {
  font-weight: 500;
}

/****** footer ******/
#footer {
  background: #f5f3f3;
}
#footer .row {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
#footer #footer_menu {
  width: calc(75% - 100px);
}
#footer #footer_cs {
  width: 25%;
  display: flex;
}

#footer_menu ul {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 40px;
}
#footer_menu ul li {
  display: inline-block;
}
#footer_menu ul li:nth-child(even) {
  color: #d9d9d9;
}
#footer_menu ul li a {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 16px 6px;
}
#footer_menu .info p span {
  font-size: 1.3rem;
  margin-right: 12px;
}

#footer_cs a {
  width: 150px;
  margin-bottom: 6px;
}
#footer_cs .cs {
  margin-left: auto;
}
#footer_cs .csNumber {
  font-weight: 700;
  margin-bottom: 16px;
}
#footer_cs .csNumber span {
  margin-right: 6px;
}
#footer_cs .csInfo span {
  display: block;
  font-size: 1.3rem;
}

/* main */
#main_slide {
  position: relative;
}

.single-item1 {
  height: 750px;
}

.single-item1 .slick-item {
  width: 100%;
  position: relative;
}

.single-item1 .slick-item a {
  height: 750px;
}

.single-item1 .slick-item:nth-child(1) a {
  background: url("../img/main_slide/main01.jpg") no-repeat center;
  background-size: cover;
}

.single-item1 .slick-item:nth-child(2) a {
  background: url("../img/main_slide/main02.jpg") no-repeat center;
  background-size: cover;
}

.single-item1 .slick-item:nth-child(3) a {
  background: url("../img/main_slide/main03.jpg") no-repeat center;
  background-size: cover;
}

.single-item1 .slick-item .item_cell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.single-item1 .slick-item .item_cell > div:nth-child(1) {
  width: 60%;
}

.single-item1 .slick-item .item_cell > div:nth-child(2) {
  width: 40%;
}

.single-item1 .slick-item .item_cell .p1 {
  font-size: 3.6rem;
  margin-bottom: 12px;
}

.single-item1 .slick-item .item_cell .p2 {
  font-size: 1.8rem;
  margin-bottom: 72px;
}

.single-item1 .slick-prev,
.single-item1 .slick-next {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40%;
  z-index: 999;
  background: url("../img/down-arrow.png") no-repeat center;
  background-size: 50px 50px;
  opacity: 0.1;
  text-indent: -999px;
  overflow: hidden;
}

.single-item1 .slick-prev {
  left: 2%;
  transform: rotate(90deg);
}

.single-item1 .slick-next {
  right: 2%;
  transform: rotate(270deg);
}

/* lineProd */
.list_slider {
  position: relative;
}

/* 사이 여백 늘이고 줄이기 */
.list_slider .slick-slide {
  margin: 0 16px;
}

.list_slider .slick-list {
  margin: 0 -16px;
}

/* 슬라이드 잘리는 부분 */
.list_slider .back-con {
  position: relative;
  width: 100%;
  height: 100%;
}

.list_slider .back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.list_slider .list_item {
  height: 450px;
  background: #f5f3f3;
  border-radius: 10px;
  padding: 12px;
  position: relative;
}

.list_slider .list_item .list_img {
  position: relative;
  overflow: hidden;
}

.list_slider .list_item .list_img img {
  width: 100%;
  border-radius: 10px;
  min-height: 320px;
  margin-bottom: 50px;
  transition: all 0.3s;
}

.list_slider .list_item .list_img img:hover {
  transform: scale(1.1);
}

.list_slider .list_item .list_desc {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 3.3px 3.7px 9.7px 0.3px rgb(236, 236, 236);
}

.list_slider .list_item .list_desc .prodDesc a {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.list_slider .list_item .list_desc .prodDesc .desc {
  font-size: 1.4rem;
  color: #999999;
}

.list_slider .list_item .list_desc .prodDesc .prodName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.8rem;
  font-weight: 500;
}

.list_slider .list_item .list_desc .prodPrice .price {
  font-size: 2.4rem;
  font-weight: 500;
}

.list_slider .list_item .list_desc .prodPrice .price span {
  font-size: 1.4rem;
  margin: 0 4px;
}

.list_slider .list_item .list_desc .prodPrice .discount {
  margin-right: 10px;
  color: #999999;
  text-decoration: line-through;
}

.list_slider .slick-prev,
.list_slider .slick-next {
  display: none !important;
}

/* lineProd */
.review_slider {
  position: relative;
}

/* 슬라이드 잘리는 부분 */
.review_slider .back {
  /* padding: 10px 0; */
}

/* 사이 여백 늘이고 줄이기 */
.review_slider .slick-slide {
  margin: 0 16px;
}

.review_slider .slick-list {
  margin: 0 -16px;
}

.review_slider .review_item {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ececec;
}

.review_slider .review_item hr {
  border: 1px solid #f5f5f5;
  margin: 10px 0;
}

#review_list .review_item .item_img {
  padding: 16px 16px 0 16px;
}

.review_slider .review_item .item_img a img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.review_slider .review_item .item_desc {
  padding: 24px;
}

.review_slider .review_item .item_desc .desc_tit strong {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.review_slider .review_item .item_desc .desc_tit p {
  font-size: 1.5rem;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.review_slider .review_item .desc_score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 16px 16px;
}

.review_slider .review_item .desc_score .score_img {
  width: 30%;
  margin-right: 10px;
}

.review_slider .review_item .desc_score .score_rating {
  width: calc(70% - 10px);
}

.review_slider .review_item .desc_score .score_rating a {
  font-size: 1.7rem;
  font-weight: 500;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.review_slider .review_item .desc_score .score_rating em {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 6px;
}

.review_slider .review_item .desc_score .score_rating .score {
  text-indent: -9999px;
  overflow: hidden;
  display: inline-block;
  width: 60px;
  height: 20px;
  background: transparent url("../img/elements/rating.svg") no-repeat left;
  background-size: cover;
  vertical-align: middle;
  margin-top: 2px;
}

.review_slider .slick-prev,
.review_slider .slick-next {
  display: none !important;
}

/* intro_prod */
.one-time .slick-prev,
.one-time .slick-next {
  width: 100px;
  height: 100px;
  background: red;
  position: absolute;
  top: 40%;
  z-index: 999;
  background: url("../img/down-arrow.png") no-repeat center;
  background-size: 50px 50px;
  opacity: 0.1;
  text-indent: -999px;
  overflow: hidden;
}

.one-time .slick-prev {
  left: -10%;
  transform: rotate(90deg);
}

.one-time .slick-next {
  right: -10%;
  transform: rotate(270deg);
}

.sec .subP {
  padding: 20px 0;
}

.searchBg {
  background: #f5f3f3;
}

#sub_tit {
  padding: 50px 0 0 0;
}

/******* searchBox  ******/
#searchBox_bar {
  background: #ffffff;
  border-radius: 10px;
  padding: 24px;
  text-align: center;
}
#searchBox_bar > div {
  display: block;
  text-align: center;
}
#searchBox_bar .search_wrap {
  width: 60%;
  display: inline-block;
  position: relative;
}
#searchBox_bar .search_wrap input.searchBar {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #000;
}
#searchBox_bar .search_wrap .searchBtn {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/search.png") no-repeat center;
  background-size: cover;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 10px;
}
#searchBox_bar .keyword_wrap {
  text-align: center;
}
#searchBox_bar .keyword_wrap .keyword {
  width: 60%;
  display: inline-block;
  padding: 16px 0;
}
#searchBox_bar .keyword_wrap .title {
  float: left;
  font-weight: 500;
  line-height: 33px;
  margin-right: 16px;
}
#searchBox_bar .keyword_wrap .keywordList {
  float: left;
}
#searchBox_bar .keyword_wrap .keywordList > a {
  font-size: 13px;
  background: #f5f3f3;
  padding: 0 10px;
  border-radius: 15px;
  border: 1px solid #d9d9d9;
  line-height: 32px;
  float: left;
  margin: 0 6px;
}

#searchRes {
  padding-bottom: 56px;
}
#searchRes #searchRes_sort {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}
#searchRes #searchRes_sort p > span {
  font-weight: 500;
  color: #000;
}
#searchRes #searchRes_sort ul li {
  display: inline-block;
}
#searchRes #searchRes_sort ul li:nth-child(even) {
  color: #d9d9d9;
}
#searchRes #searchRes_list .result_wrap {
  min-height: 474px;
  display: flex;
  flex-wrap: wrap;
  margin: -1%;
}
#searchRes #searchRes_list .result_item {
  width: 23%;
  background: #fff;
  border-radius: 10px;
  margin: 1%;
  display: none;
}
#searchRes #searchRes_list .result_item .list_img {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
#searchRes #searchRes_list .result_item .list_img img {
  width: 100%;
  transition: all 0.3s;
}
#searchRes #searchRes_list .result_item .list_img img:hover {
  transform: scale(1.1);
}
#searchRes #searchRes_list .result_item .list_desc {
  border-radius: 10px;
  padding: 20px;
}
#searchRes #searchRes_list .result_item .list_desc > em {
  font-weight: 500;
}
#searchRes #searchRes_list .result_item .list_desc > a.title {
  font-size: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  margin: 2px 0 10px 0;
}
#searchRes #searchRes_list .result_item .list_desc > .price {
  font-size: 1.8rem;
  font-weight: 800;
}
#searchRes #searchRes_list .result_item .list_desc p {
  margin-top: 10px;
}
#searchRes #searchRes_list .result_item .list_desc p > a.bt {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  background: #97BF42;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}
#searchRes #searchRes_list .result_item .list_desc p > a.bt:hover {
  background: #fff;
  border: 1px solid #97BF42;
}
#searchRes #searchRes_list .result_item .list_desc p > a.bt:hover > svg {
  stroke: #97BF42;
}
#searchRes #searchRes_list .result_item .list_desc p > a.bt > svg {
  width: 26px;
  height: 26px;
  display: inline-block;
  stroke: #fff;
}

/***** detailCont *****/
#detailCont .row {
  padding: 0px 0;
}

#detail_tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 10px;
}
#detail_tit .tit_img {
  width: calc(45% - 24px);
  padding: 32px;
}
#detail_tit .tit_img img {
  width: 100%;
}
#detail_tit .tit_desc {
  width: 55%;
  display: flex;
  flex-direction: column;
}
#detail_tit .tit_desc li {
  color: #888;
  margin-bottom: 6px;
}
#detail_tit .tit_desc li > span {
  color: #444;
  font-weight: 500;
  margin-right: 32px;
}
#detail_tit .tit_desc .tit {
  font-size: 3.2rem;
  font-weight: 500;
}
#detail_tit .tit_desc .line {
  width: 100%;
  height: 1px;
  background: #f5f3f3;
  margin: 32px 0 16px 0;
}
#detail_tit .tit_desc .price {
  color: #444;
}
#detail_tit .tit_desc .btnList {
  display: flex;
  align-items: center;
}
#detail_tit .tit_desc .btn {
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.3s;
  margin-top: 32px;
  margin-right: 6px;
}
#detail_tit .tit_desc .btn.interest {
  width: 50px;
  height: 50px;
  background: #f5f3f3;
}
#detail_tit .tit_desc .btn.interest img {
  display: inline-block;
  width: 24px;
  height: 24px;
  opacity: 0.5;
}
#detail_tit .tit_desc .btn.cart {
  width: 220px;
  height: 50px;
  background: #ffffff;
  color: #97BF42;
  border: 1px solid #97BF42;
}
#detail_tit .tit_desc .btn.buy {
  width: 220px;
  height: 50px;
  background: #97BF42;
  color: #fff;
}

/***** detailTab *****/
#tab_list ul {
  text-align: center;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
#tab_list ul li {
  margin: 0 24px;
  display: inline-block;
}
#tab_list ul li a {
  width: 100%;
  padding: 18px 72px;
}
#tab_list ul li.active {
  border-bottom: 2px solid #97BF42;
}

#tab_cont {
  max-width: 1000px;
  margin: 0 auto;
}
#tab_cont .star {
  text-indent: -9999px;
  overflow: hidden;
  display: inline-block;
  width: 70px;
  height: 30px;
  background: transparent url("../img/elements/rating.svg") no-repeat left;
  background-size: cover;
  vertical-align: middle;
  margin-right: 6px;
  margin-top: -2px;
}
#tab_cont .cont_item {
  display: none;
  padding: 32px 0;
}
#tab_cont .cont_item.show {
  display: block;
}
#tab_cont .cont_item img {
  width: 100%;
}
#tab_cont .review_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tab_cont .review_wrap .review_sort {
  margin-bottom: 48px;
}
#tab_cont .review_wrap .review_sort li {
  border: 1px solid #dedede;
  display: inline-block;
  margin-left: -5px;
}
#tab_cont .review_wrap .review_sort li a {
  width: 100%;
  color: #888;
  padding: 14px 50px;
}
#tab_cont .review_wrap .review_sort li.active {
  background: #f8f8f8;
}
#tab_cont .review_wrap .review_sort li.active a {
  color: #000;
}
#tab_cont .review_wrap .score {
  width: 100%;
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: space-between;
}
#tab_cont .review_wrap .score ul li {
  display: inline-block;
}
#tab_cont .review_wrap .reviewCont {
  width: 100%;
}
#tab_cont .review_wrap .reviewCont li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dedede;
  padding: 24px 0;
}
#tab_cont .review_wrap .reviewCont li .nickname {
  width: 10%;
}
#tab_cont .review_wrap .reviewCont li .cont {
  width: 75%;
}
#tab_cont .review_wrap .reviewCont li .cont p {
  margin-bottom: 24px;
}
#tab_cont .review_wrap .reviewCont li .cont img {
  width: 30%;
}
#tab_cont .review_wrap .reviewCont li .data {
  width: 10%;
}
#tab_cont .review_wrap .reviewCont li span {
  display: block;
}